.jqueryIconMenu {
  position: fixed;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #f0f0f0; }
  .jqueryIconMenu > li {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    position: relative; }
    .jqueryIconMenu > li:last-child {
      border-bottom: 0px; }
    .jqueryIconMenu > li a {
      color: #999;
      text-decoration: none;
      height: 18px; }
    .jqueryIconMenu > li:hover {
      background: #47a3da; }
      .jqueryIconMenu > li:hover a {
        color: #fff; }
      .jqueryIconMenu > li:hover .jqueryIconMenu-tooltip {
        display: block; }
    .jqueryIconMenu > li .jqueryIconMenu-tooltip {
      position: absolute;
      display: none;
      left: 45px;
      background: #47a3da;
      color: #fff;
      height: inherit;
      padding: 8px;
      top: 0;
      white-space: nowrap;
      border-radius: 4px;
      line-height: inherit; }
      .jqueryIconMenu > li .jqueryIconMenu-tooltip:after {
        content: '';
        display: block;
        height: 10px;
        width: 10px;
        background: inherit;
        position: absolute;
        transform: rotate(45deg);
        top: calc(50% - 5px);
        left: -5px; }
  .jqueryIconMenu[data-direction='rtl'] {
    right: 0;
    left: auto; }
    .jqueryIconMenu[data-direction='rtl'] > li .jqueryIconMenu-tooltip {
      right: 45px;
      left: auto; }
      .jqueryIconMenu[data-direction='rtl'] > li .jqueryIconMenu-tooltip:after {
        content: '';
        right: -5px;
        left: auto; }
